*/.DS_Store
.DS_Store?
Icon?
.DS_Store
._*
.Spotlight-V100
.Trashes
dist
firefox-dist
node_modules
yarn-error.log
coverage
.history
# ignore all .DS_Store files in any directory:
src/monaco-editor/monaco-editor.DS_Store.ts
src/monaco-editor/iframe/iframe.DS_Store.ts
