/* Override common bootstrap-vue component styles here */
.stylebot-app :root {
    // --blue: #007bff;
    // --indigo: #6610f2;
    // --purple: #6f42c1;
    // --pink: #e83e8c;
    // --red: #dc3545;
    // --orange: #fd7e14;
    // --yellow: #ffc107;
    // --green: #28a745;
    // --teal: #20c997;
    // --cyan: #17a2b8;
    // --white: #fff;
    // --gray: #6c757d;
    // --gray-dark: #343a40;
    // --primary: #007bff;
    // --secondary: #747474;
    // --success: #28a745;
    // --info: #17a2b8;
    // --warning: #ffc107;
    // --danger: rgba(255,127,127,0.97);
    // --light: #f8f9fa;
    // --dark: #343a40;
    // --breakpoint-xs: 0;
    // --breakpoint-sm: 576px;
    // --breakpoint-md: 768px;
    // --breakpoint-lg: 992px;
    // --breakpoint-xl: 1200px;
    // --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: OperatorMono-Light, Menlo, Monaco, 'Courier New', monospace
}

.stylebot-app html, .stylebot-app body, .stylebot-app * {
    font-family: monospace;
}
/* change text highlight color to pink */
::selection {
  background: #F81BE4;
}

#container > div > div.overflow-guard > div.monaco-scrollable-element.editor-scrollable.vs-dark.mac > div.lines-content.monaco-editor-background > div.view-lines {
    font-family: OperatorMono-Light,Menlo, Monaco, "Courier New", monospace;
    font-weight: normal;
    font-size: 17px;
    font-feature-settings: "liga" 0, "calt" 0;
    line-height: 18px;
}

.stylebot-app .col-2, .stylebot-app .col-3 {
    flex: 0 0 10%;
    max-width: 10%;
}


/* Dropdown */
.dropdown-divider {
  margin: 2px 0;
  border-top: 1px solid #555;
}

.dropdown-toggle {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.dropdown-toggle::after {
  margin-left: 7px;
}

.dropdown-menu {
  padding: 3px 0;
  max-height: 350px;
  overflow-y: auto;
  border-radius: 0;
  min-width: 80px;
  background: #333;
  
  &.show {
    top: 0;
    left: 0;
  }
}

.dropdown-item {
  text-align: center;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  max-width: 250px;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 15px;

  &:hover,
  &:focus {
    color: #fff;
    outline: none;
    background: $primary;
  }
}

.btn-group > .btn:not(:last-child):not(.dropdown-toggle) {
  border-right: none;
}

.btn {
  color: #f1f1f1 !important;
}

/* Form control and group */
.form-control-sm {
  height: 28px;
  padding: 5px;
  font-size: 12px;
}

.form-group {
  margin-bottom: 0;
}

.form-control{
  color: var(--main-foreground);
  background: var(--main-background);
}

/* Buttons */
.btn-sm {
  height: 28px;
  font-size: 12px;
}

.btn-md {
  height: 36px;
  font-size: 15px;
}

/* Switch */
.custom-switch {
  font-size: 16px;
  line-height: 24px;
}

.custom-control-label {
  cursor: pointer;
}
